<div class="container-narrow">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="add-product.html">+</a></li>
        </ul>
       <a href="main-page.html">
        <img src="img/cropped-edopter.png" height="150" alt="edopter" width="150" />
       </a>
       
       <!-- Put Edopter image here -->
      </div>

      <hr />

      
        <div class="row-fluid">
           <div class="span2">
            <img class="rounded-images" src="img/mike-adeleke.jpg" height="100" width="100" />
            <a href="#">mike</a>
          </div>
          <div class="offset1 span9">
            <h4>Uber</h4>
            <a href="#">Uber</a>
            <p>It's a "One Touch Taxi"! I was able to just show my location and a cab picked me up on the North Side within five minutes.</p>
            <a href="#" class="btn btn-small">+1</a>
          </div>
        </div>
        <br style="" />
        <div class="row-fluid">
          <div class="span2">
            <img class="rounded-images" src="img/mike-mcgee.jpg" height="100" width="100" />
            <a href="#">mcgee</a>
          </div>
          <div class="offset1 span9">
            <h4>Edopter</h4>
            <a href="#">Edopter</a>
            <p>I really like the way it enables you to share different companies you like with the community.</p>
            <a href="#" class="btn btn-small">+1</a>
          </div>
        </div>
        <br style="" />
        <div class="row-fluid">
          <div class="span2">
            <img class="rounded-images" src="img/download.jpeg" height="100" width="100" />
            <a href="#">paulg</a>
          </div>
          <div class="offset1 span9">
            <h4>FrontBack</h4>
            <a href="#">FrontBack</a>
            <br style="" />
            <p>I love selfies.</p>
            <a href="#" class="btn btn-small">+1</a>
          </div>
        </div>
  
      <style type="text/css" style="">
        .rounded-images {
          border-radius: 50px;
        }
      </style>
      <hr />

      <div class="row-fluid marketing">
        <ul class="nav nav-pills bottom">
          <li><a href="http://www.builtinchicago.org/blog/why-i-started-edopter">Why</a></li>
          <li><a href="http://www.youtube.com/watch?v=UdcDpqwI1TE">About</a></li>
          <li><a href="http://edopter.quora.com/">Blog</a></li>
          <li><a href="https://twitter.com/EdopterHQ">Twitter</a></li>
        </ul>
        <style type="text/css" style="">
          .bottom {
            margin-left: 230px;
          }

        </style>
      </div>

      <hr />

      <div class="footer">
        <p>© Edopter 2013</p>
      </div>

    </div>
